# [教學目標]
- 綜合到目前為止所教的內容, 提交一次作答結果吧!!

# [範例重點]
- 資料清理 (In[4], Out[4]) 
- 前處理 : MinMaxScaler, Imputer (In[4], Out[4])   
- Heatmap 的進階用法 : 散佈圖, KDE, 密度圖 (In[6], Out[6])
- 輸出值的紀錄 (In[8], Out[8])

In [57]:
# Import 需要的套件
import os
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### 仿造之前做過的處理

In [58]:
# 設定 data_path
dir_data = 'D:\Python_DataScience\Dataset\Part01'
f_app_train = os.path.join(dir_data, 'application_train.csv')
f_app_test = os.path.join(dir_data, 'application_test.csv')
print(f_app_train)
print(f_app_test)

D:\Python_DataScience\Dataset\Part01\application_train.csv
D:\Python_DataScience\Dataset\Part01\application_test.csv

In [59]:
# 讀取檔案
app_train = pd.read_csv(f_app_train)
app_test = pd.read_csv(f_app_test)

In [60]:
print("資料總共欄位 : ",app_train.head().shape[-1])
print("資料欄位為物件總共欄位 : ",app_train.select_dtypes(include=["object"]).shape[-1])
app_train.select_dtypes(include=["object"])

資料總共欄位 :  122
資料欄位為物件總共欄位 :  16

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE
0,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
1,Cash loans,F,N,N,Family,State servant,Higher education,Married,House / apartment,Core staff,MONDAY,School,reg oper account,block of flats,Block,No
2,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,MONDAY,Government,NaN,NaN,NaN,NaN
3,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
4,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Core staff,THURSDAY,Religion,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,Cash loans,M,N,N,Unaccompanied,Working,Secondary / secondary special,Separated,With parents,Sales staff,THURSDAY,Services,reg oper account,block of flats,"Stone, brick",No
307507,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,NaN,MONDAY,XNA,reg oper account,block of flats,"Stone, brick",No
307508,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Separated,House / apartment,Managers,THURSDAY,School,reg oper account,block of flats,Panel,No
307509,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 1,NaN,block of flats,"Stone, brick",No
307510,Cash loans,F,N,N,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,Laborers,THURSDAY,Business Entity Type 3,NaN,block of flats,Panel,No

In [61]:
# 種類 2 種以下的類別型欄位轉標籤編碼 (Label Encoding)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le_count = 0

# 檢查每一個 column
for col in app_train:
    if app_train[col].dtype == 'object':
        # 如果只有兩種值的類別型欄位
        if len(list(app_train[col].unique())) <= 2:
            print(col)
            # 就做 Label Encoder
            le.fit(app_train[col])
            app_train[col] = le.transform(app_train[col])
            app_test[col] = le.transform(app_test[col])
            
            # 紀錄有多少個 columns 被標籤編碼過
            le_count += 1

NAME_CONTRACT_TYPE
FLAG_OWN_CAR
FLAG_OWN_REALTY

In [62]:
app_train[["NAME_CONTRACT_TYPE","FLAG_OWN_CAR","FLAG_OWN_REALTY"]].head()

   NAME_CONTRACT_TYPE  FLAG_OWN_CAR  FLAG_OWN_REALTY
0                   0             0                1
1                   0             0                0
2                   1             1                1
3                   0             0                1
4                   0             0                1

In [63]:
origincolset = set(app_train.columns)
# 標籤編碼 (2種類別) 欄位轉 One Hot Encoding
# dummies會針對為物件格式資料進行區分
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)
dummiescolset = set(app_train.columns)
print("經由dummies後多出的col:",dummiescolset-origincolset)

經由dummies後多出的col: {'NAME_FAMILY_STATUS_Widow', 'WALLSMATERIAL_MODE_Wooden', 'ORGANIZATION_TYPE_University', 'ORGANIZATION_TYPE_Business Entity Type 2', 'NAME_TYPE_SUITE_Spouse, partner', 'NAME_TYPE_SUITE_Other_A', 'NAME_FAMILY_STATUS_Separated', 'ORGANIZATION_TYPE_Industry: type 2', 'ORGANIZATION_TYPE_Medicine', 'HOUSETYPE_MODE_specific housing', 'NAME_INCOME_TYPE_Working', 'NAME_TYPE_SUITE_Other_B', 'ORGANIZATION_TYPE_Industry: type 9', 'ORGANIZATION_TYPE_Military', 'ORGANIZATION_TYPE_Advertising', 'ORGANIZATION_TYPE_XNA', 'WEEKDAY_APPR_PROCESS_START_MONDAY', 'WALLSMATERIAL_MODE_Stone, brick', 'ORGANIZATION_TYPE_Transport: type 4', 'ORGANIZATION_TYPE_Transport: type 2', 'CODE_GENDER_XNA', 'NAME_HOUSING_TYPE_House / apartment', 'NAME_HOUSING_TYPE_Municipal apartment', 'NAME_HOUSING_TYPE_Rented apartment', 'NAME_FAMILY_STATUS_Civil marriage', 'NAME_EDUCATION_TYPE_Secondary / secondary special', 'ORGANIZATION_TYPE_Telecom', 'ORGANIZATION_TYPE_Industry: type 12', 'NAME_INCOME_TYPE_Businessman', 'ORGANIZATION_TYPE_Security Ministries', 'ORGANIZATION_TYPE_Business Entity Type 1', 'NAME_FAMILY_STATUS_Unknown', 'NAME_FAMILY_STATUS_Married', 'FONDKAPREMONT_MODE_reg oper account', 'OCCUPATION_TYPE_Realty agents', 'OCCUPATION_TYPE_Waiters/barmen staff', 'ORGANIZATION_TYPE_Industry: type 1', 'ORGANIZATION_TYPE_Industry: type 11', 'ORGANIZATION_TYPE_Insurance', 'ORGANIZATION_TYPE_Industry: type 5', 'OCCUPATION_TYPE_IT staff', 'ORGANIZATION_TYPE_Trade: type 6', 'ORGANIZATION_TYPE_Mobile', 'HOUSETYPE_MODE_block of flats', 'ORGANIZATION_TYPE_Electricity', 'CODE_GENDER_M', 'WEEKDAY_APPR_PROCESS_START_WEDNESDAY', 'ORGANIZATION_TYPE_Trade: type 5', 'NAME_INCOME_TYPE_Student', 'FONDKAPREMONT_MODE_not specified', 'ORGANIZATION_TYPE_Kindergarten', 'OCCUPATION_TYPE_Secretaries', 'ORGANIZATION_TYPE_Security', 'OCCUPATION_TYPE_Cooking staff', 'ORGANIZATION_TYPE_Transport: type 3', 'ORGANIZATION_TYPE_Restaurant', 'ORGANIZATION_TYPE_Industry: type 6', 'ORGANIZATION_TYPE_Trade: type 1', 'ORGANIZATION_TYPE_Self-employed', 'ORGANIZATION_TYPE_Trade: type 2', 'ORGANIZATION_TYPE_Trade: type 4', 'NAME_HOUSING_TYPE_With parents', 'ORGANIZATION_TYPE_Industry: type 7', 'ORGANIZATION_TYPE_Trade: type 7', 'ORGANIZATION_TYPE_Hotel', 'NAME_TYPE_SUITE_Family', 'ORGANIZATION_TYPE_Religion', 'WEEKDAY_APPR_PROCESS_START_SATURDAY', 'OCCUPATION_TYPE_Core staff', 'ORGANIZATION_TYPE_Government', 'ORGANIZATION_TYPE_Industry: type 8', 'ORGANIZATION_TYPE_Bank', 'ORGANIZATION_TYPE_Housing', 'OCCUPATION_TYPE_HR staff', 'NAME_EDUCATION_TYPE_Higher education', 'OCCUPATION_TYPE_Drivers', 'OCCUPATION_TYPE_Security staff', 'ORGANIZATION_TYPE_Culture', 'WEEKDAY_APPR_PROCESS_START_FRIDAY', 'ORGANIZATION_TYPE_Cleaning', 'OCCUPATION_TYPE_Sales staff', 'OCCUPATION_TYPE_Low-skill Laborers', 'ORGANIZATION_TYPE_Business Entity Type 3', 'FONDKAPREMONT_MODE_org spec account', 'WEEKDAY_APPR_PROCESS_START_THURSDAY', 'ORGANIZATION_TYPE_Industry: type 10', 'WALLSMATERIAL_MODE_Monolithic', 'NAME_HOUSING_TYPE_Office apartment', 'OCCUPATION_TYPE_Cleaning staff', 'EMERGENCYSTATE_MODE_Yes', 'ORGANIZATION_TYPE_Postal', 'EMERGENCYSTATE_MODE_No', 'ORGANIZATION_TYPE_School', 'WALLSMATERIAL_MODE_Others', 'NAME_INCOME_TYPE_State servant', 'FONDKAPREMONT_MODE_reg oper spec account', 'NAME_INCOME_TYPE_Pensioner', 'CODE_GENDER_F', 'ORGANIZATION_TYPE_Agriculture', 'NAME_TYPE_SUITE_Children', 'ORGANIZATION_TYPE_Realtor', 'ORGANIZATION_TYPE_Legal Services', 'OCCUPATION_TYPE_High skill tech staff', 'ORGANIZATION_TYPE_Emergency', 'OCCUPATION_TYPE_Managers', 'OCCUPATION_TYPE_Accountants', 'ORGANIZATION_TYPE_Transport: type 1', 'WALLSMATERIAL_MODE_Block', 'ORGANIZATION_TYPE_Industry: type 13', 'NAME_EDUCATION_TYPE_Incomplete higher', 'ORGANIZATION_TYPE_Police', 'OCCUPATION_TYPE_Medicine staff', 'OCCUPATION_TYPE_Private service staff', 'WALLSMATERIAL_MODE_Panel', 'NAME_INCOME_TYPE_Unemployed', 'WEEKDAY_APPR_PROCESS_START_TUESDAY', 'ORGANIZATION_TYPE_Services', 'OCCUPATION_TYPE_Laborers', 'ORGANIZATION_TYPE_Industry: type 3', 'NAME_TYPE_SUITE_Group of people', 'NAME_EDUCATION_TYPE_Academic degree', 'WEEKDAY_APPR_PROCESS_START_SUNDAY', 'ORGANIZATION_TYPE_Trade: type 3', 'ORGANIZATION_TYPE_Industry: type 4', 'ORGANIZATION_TYPE_Other', 'HOUSETYPE_MODE_terraced house', 'ORGANIZATION_TYPE_Construction', 'NAME_EDUCATION_TYPE_Lower secondary', 'WALLSMATERIAL_MODE_Mixed', 'NAME_HOUSING_TYPE_Co-op apartment', 'NAME_INCOME_TYPE_Maternity leave', 'NAME_TYPE_SUITE_Unaccompanied', 'NAME_FAMILY_STATUS_Single / not married', 'NAME_INCOME_TYPE_Commercial associate'}

In [64]:
# 受雇日數為異常值的資料, 另外設一個欄位記錄, 並將異常的日數轉成空值 (np.nan)
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)
app_test['DAYS_EMPLOYED_ANOM'] = app_test["DAYS_EMPLOYED"] == 365243
app_test["DAYS_EMPLOYED"].replace({365243: np.nan}, inplace = True)

# 出生日數 (DAYS_BIRTH) 取絕對值 
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])
app_test['DAYS_BIRTH'] = abs(app_test['DAYS_BIRTH'])

### 做好前處理
開始擬合模型之前，我們要確保 training & testing data 的欄位數量一致，原因是因為 One hot encoding 會製造多的欄位，有些類別出現在 training data 而沒有出現 testing data 中，我們就要把這些多餘的欄位去除

In [65]:
train_labels = app_train['TARGET']

# 調整欄位數, 移除出現在 training data 而沒有出現 testing data 中的欄位
print("訓練資料總共欄位 : ",app_train.head().shape[-1])
print("測試資料總共欄位 : ",app_test.head().shape[-1])

app_train, app_test = app_train.align(app_test, join = 'inner', axis = 1)

print("訓練資料總共欄位 : ",app_train.head().shape[-1])
print("測試資料總共欄位 : ",app_test.head().shape[-1])

訓練資料總共欄位 :  244
測試資料總共欄位 :  240
訓練資料總共欄位 :  240
測試資料總共欄位 :  240

### 填補遺失值

In [66]:
import numpy as np
from sklearn.preprocessing import Imputer
train_X = np.array([[1, 2], [np.nan, 3], [7, 6]])
train_X = pd.DataFrame(train_X)
print(train_X)
imp = Imputer(missing_values=np.nan , strategy='mean', axis=0)
imp.fit(train_X)
imp.transform(train_X)

     0    1
0  1.0  2.0
1  NaN  3.0
2  7.0  6.0

C:\Users\jas72\Anaconda3\envs\TensorFlow2\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

array([[1., 2.],
       [4., 3.],
       [7., 6.]])

### 尺度校正

In [67]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler
train_X = np.array([[1, 2], [4, 3], [7, 6]])
train_X = pd.DataFrame(train_X)
# 縮放器 : 設定特徵縮放到 0~1 區間
scaler = MinMaxScaler(feature_range = (0, 1))
scaler.fit(train_X)
train_X = scaler.transform(train_X)
train_X

array([[0.  , 0.  ],
       [0.5 , 0.25],
       [1.  , 1.  ]])

### 在導入訓練以前請注意
1.奇異值修正
2.測試與訓練及資料的欄位需相同
3.填補遺失值
4.資料內容正規化

In [68]:
from sklearn.preprocessing import MinMaxScaler, Imputer

# 特徵欄位清單
train = app_train.copy()
features = list(train.columns)

# 複製 test 資料
test = app_test.copy()

# 填補器 : 設定缺失值補中位數
imputer = Imputer(strategy = 'median')

# 縮放器 : 設定特徵縮放到 0~1 區間
scaler = MinMaxScaler(feature_range = (0, 1))

# 填補器載入個欄中位數
imputer.fit(train)

# 將中位數回填 train, test 資料中的空缺值
train = imputer.transform(train)
test = imputer.transform(app_test)

# 縮放器載入 train 的上下限, 對 train, test 進行縮放轉換
scaler.fit(train)
train = scaler.transform(train)
test = scaler.transform(test)

print('Training data shape: ', train.shape)
print('Testing data shape: ', test.shape)

C:\Users\jas72\Anaconda3\envs\TensorFlow2\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

Training data shape:  (307511, 240)
Testing data shape:  (48744, 240)

In [69]:
train_labels

0         1
1         0
2         0
3         0
4         0
         ..
307506    0
307507    0
307508    0
307509    1
307510    0
Name: TARGET, Length: 307511, dtype: int64

### Fit the model

In [70]:
from sklearn.linear_model import LogisticRegression

# 設定模型與模型參數
log_reg = LogisticRegression(C = 0.0001)

# 使用 Train 資料訓練模型
log_reg.fit(train, train_labels)

C:\Users\jas72\Anaconda3\envs\TensorFlow2\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=0.0001, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

模型 fit 好以後，就可以用來預測 testing data 中的客戶違約遲繳貸款的機率咯! (記得要用 predict_proba 才會輸出機率)

In [71]:
# 用模型預測結果
# 請注意羅吉斯迴歸是分類預測 (會輸出 0 的機率, 與 1 的機率), 而我們只需要留下 1 的機率這排
log_reg_pred = log_reg.predict_proba(test)[:, 1]
log_reg_pred

array([0.06505115, 0.12640086, 0.08123883, ..., 0.05702381, 0.07413523,
       0.08983229])

### 儲存預測結果

In [76]:
# 計算提交結果
submit = app_test[['SK_ID_CURR']]
submit['TARGET'] = log_reg_pred
submit.to_csv(r'./log_reg_regre.csv',index = False)

C:\Users\jas72\Anaconda3\envs\TensorFlow2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    SK_ID_CURR    TARGET
0       100001  0.065051
1       100005  0.126401
2       100013  0.081239
3       100028  0.061509
4       100038  0.128308
5       100042  0.055894
6       100057  0.083035
7       100065  0.125470
8       100066  0.050359
9       100067  0.103295
10      100074  0.063246
11      100090  0.115127
12      100091  0.117158
13      100092  0.098101
14      100106  0.155821
15      100107  0.111813
16      100109  0.098570
17      100117  0.076216
18      100128  0.073494
19      100141  0.087928

## 練習時間
將你的結果存成 csv, 上傳你的第一份 Kaggle 成績

Hints: https://stackoverflow.com/questions/16923281/pandas-writing-dataframe-to-csv-file

In [77]:
app_test

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,DAYS_EMPLOYED_ANOM
0,100001,0,0,1,0,135000.0,568800.0,20560.5,450000.0,0.018850,...,0,0,0,0,0,1,0,1,0,False
1,100005,0,0,1,0,99000.0,222768.0,17370.0,180000.0,0.035792,...,0,0,0,0,0,0,0,0,0,False
2,100013,0,1,1,0,202500.0,663264.0,69777.0,630000.0,0.019101,...,0,0,0,0,0,0,0,0,0,False
3,100028,0,0,1,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,...,0,0,0,0,1,0,0,1,0,False
4,100038,0,1,0,1,180000.0,625500.0,32067.0,625500.0,0.010032,...,0,0,0,0,0,0,0,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,0,0,1,0,121500.0,412560.0,17473.5,270000.0,0.002042,...,0,0,0,0,0,0,0,0,0,False
48740,456222,0,0,0,2,157500.0,622413.0,31909.5,495000.0,0.035792,...,0,0,0,0,0,0,0,0,0,False
48741,456223,0,1,1,1,202500.0,315000.0,33205.5,315000.0,0.026392,...,0,0,0,0,0,1,0,1,0,False
48742,456224,0,0,0,0,225000.0,450000.0,25128.0,450000.0,0.018850,...,0,0,0,0,1,0,0,1,0,False
48743,456250,0,1,0,0,135000.0,312768.0,24709.5,270000.0,0.006629,...,0,0,0,0,0,0,0,0,0,False